.activateMessy,
.closeMessy {
    color: #FFF !important;
    text-decoration: none !important;
    font-weight: 700
}
.modalDialogMessy {
    position: fixed;
    font-family: sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    opacity: 1;
    z-index: 10000
}
.modalDialogMessy>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px;
    border-radius: 10px;
    background: #fff
}
.closeMessy {
    background: #606061;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    border-radius: 12px
}
.closeMessy:hover {
    background: #dc143c
}
.activateMessy {
    color: #fff;
    background: #000
}
.activateMessy:hover {
    background: #b8860b
}
.aTwoMessy:hover {
    background: #00d9ff
}
.aThreeMessy:hover {
    background: #3cb371
}
a:hover {
    color: #fff
}